### Basics in Python

In [1]:
# strings are written in double "" 
#print will show the output what we input in the doulble qotes
print("Hello world")

Hello world

In [2]:
# lets print hello coders

print (" Hello Coders")

 Hello Coders

In [3]:
#lets print Muhammad Sardar Daud Khan

print(" Hey my name is Muhammad Sardar Duad khan. its my first code, and i want to be on advance level")

 Hey my name is Muhammad Sardar Duad khan. its my first code, and i want to be on advance level

In [4]:
#now i will print int. floats and 
#then i will assign different value to them

print("20")#string
print(20)#int.
print(0.454)#float


#we can do sum,multiply and divide in python too
A = 34
B = 23
print(A+B)

C = 24
D = 2
Z = C + D
print(Z)
#same as we can apply in other arthematic operations

20
20
0.454
57
26

In [5]:
#input funtion storing in variable

input("what is your name?")

what is your name?khan

'khan'

In [6]:
name = input("what is your name?")

what is your name?khan

In [7]:
print("Hello"   +   name)

Hellokhan

In [8]:
old_age = input("enter your old age:")

int(old_age)
new_age = int(old_age) + 2
print(new_age)

enter your old age:34
36

### conversion

In [9]:
first = input("enter your first number")
second = input("enter your second number")

sum = first + second
print(sum)

#its concatinating because first and second are strigs format

enter your first number3
enter your second number4
34

In [10]:
first = input("enter your first number")
second = input("enter your second number")

sum = int(first) + int(second)
print(sum)

#now it will give sum

enter your first number2
enter your second number3
5

### To Make it look Good more

In [11]:
first = input("enter your first number")
second = input("enter your second number")

sum = int(first) + int(second)
print("The sum is: " + str(sum))

enter your first number3
enter your second number3
The sum is: 6

### Special thing in python(upper,lower)

In [12]:
name = "Tony stark"
name.upper()

'TONY STARK'

In [13]:
name = "Tony stark"
name.lower()

'tony stark'

In [14]:
print(name.upper())
print(name)

TONY STARK
Tony stark

### find operation .find

In [15]:
name = "Tony khan"
print(name.find('T'))
#its on index 0

print(name.find('k'))

0
5

### Replace function   .replace

In [16]:
name = "Tony khan"
print(name.replace("Tony khan","iron man"))
print(name.replace("T","M"))

iron man
Mony khan

### finding index of words

In [17]:
name = "Tony khan"
              
print(name.find("khan"))

5

### boolean

In [18]:
name = "khan"
print("k" in name)
#booleann return

True

In [19]:
name = "khan"
print("b" in name)

False

### Arethematic Operaters

In [20]:
print(5/2)
#will show float

2.5

In [21]:
print(2*10)

20

### Removing after decimal

In [22]:
print(5//2)
#it will remove the rest of digit after decimal

2

### reminder operator

In [23]:
print(5%2)
#its remider operator

1

In [24]:
i = 5
i = i + 2
print(i)

7

### operating preceeding   multiply operater is first priority

In [25]:
result = 2+3*5
print(result)

17

In [26]:
result = 2+4 /5
print(result)

2.8

### Comparisonm operator boolean value

In [27]:
print(3>2)

True

In [28]:
print(3 == 2)
# equal to equal to

False

In [29]:
print(3 != 2)
#! not  value reverse

True

### Logical operator    or

In [30]:
print(2>3 or 2>1)

True

### and

In [31]:
print(3>2. and 2>3)

False

### not

In [32]:
print(not 2>3)

True

### Conditions   if else statment

In [33]:
age = 19
if age >= 18:
    print("your are an adult")
    print("you can vote")

your are an adult
you can vote

In [34]:
age = 19
if age >= 18:
    print("your are an adult")
    print("you can vote")
    
print("thank you")

your are an adult
you can vote
thank you

In [35]:
age = 16
if age >= 18:
    print("your are an adult")
    print("you can vote")
    
print("thank you")
#condition not true

thank you

In [36]:
#elif

age = 10
if age >= 18:
    print("your are an adult")
    print("you can vote")
elif age < 18 and age >3:
    print("you are in school")
    
print("thank you")

you are in school
thank you

In [37]:
#else

age = 2
if age >= 18:
    print("your are an adult")
    print("you can vote")
elif age < 18 and age >3:
    print("you are in school")
else:
    print("you are a baby")
    
print("thank you")

you are a baby
thank you